html, body {
  height: 100%;
  margin: 0;
  font-family: arial;
}

.topHeader {
  /* since nav is floated, the parent will collapse if nothing is done */
  overflow: auto; 
}



nav {
  float: right;
  margin-right: 50px;
  display: flex;
  margin-top: 15px;
}

nav > a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin-left: 15px;
  opacity: .75;
  align-items: center;
  line-height: 28px;
}

.material-icons {
  opacity: .7;
}

.signInButton {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  
  border: none;
  line-height: 28px; /* increase vertical space around words */
  padding: 0 12px; /* add padding on left and right sides */
  border-radius: 2px; /* soften the corners of the button */
  font-size: 13px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.mainContent {
  margin: 0 auto;
  min-width: 50%;

}

.logo {
  margin-top: 50px;
  text-align: center;
  font-family: "Product Sans";
  font-size: 80px;
}


.mainSearch {
  display: block;
  height: 35px;
  width: 600px;
  margin: 0 auto;
}

.buttonGroup {
  text-align: center;
  margin-top: 30px;
}

.buttonGroup > button {
  line-height: 28px;
  border: none;
  font-weight: bold;
  padding: 0 12px;
  height: 36px;
  background-color: #f2f2f2;
  color: #757575;
  font-size: 13px;
}

.footer,
.push {
  height: 50px; /* more sticky footer magic */
}

.footer {
  background-color: #f2f2f2;
  min-width: 1000px;
  border-top: thin solid #d2d2d2;
}

ul>li {
  display: inline;  
}


footer > ul > li > a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  margin-left: 15px;
}

a:hover {
  text-decoration: underline;
  cursor: default;
}

.fLeft {
  float: left;

}
.fRight {
  float: right;
  margin-right: 50px;
}