* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: arial;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.topHeader {
  /* since nav is floated, the parent will collapse if nothing is done */
  overflow: auto; 
}



nav {
  float: right;
  margin-right: 30px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

nav > a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin-left: 15px;
  opacity: .75;
  cursor: pointer;
  
}

.material-icons {
  opacity: .7;
}

.material-icons:hover {
  opacity: 1;
  cursor: pointer;
}

.signInButton {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  
  border: none;
  line-height: 28px; /* increase vertical space around words */
  padding: 0 12px; /* add padding on left and right sides */
  border-radius: 2px; /* soften the corners of the button */
  font-size: 13px;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -45px;
}

.mainContent {
  margin: 0 auto;
  min-width: 50%;

}

.logo {
  margin-top: 100px;
  text-align: center;
  font-family: "Product Sans";
  font-size: 100px;
  margin-bottom: 20px;
  cursor: default;

}

.logo  > span:nth-child(1), .logo > span:nth-child(4) {
  color: #4285f4;
}

.logo  > span:nth-child(2), .logo > span:nth-child(6) {
  color: #ea4335;
}

.logo > span:nth-child(6) {
  display: inline-block; /* can't tranform inline elements */
  transform: rotate(-17deg);
}

 .logo > span:nth-child(3) {
  color: #fbbc05;
}

 .logo > span:nth-child(5) {
  color: #34a853;
 }


.inputContainer {
  width: 600px;
  margin: 0 auto;
  border: solid 1px #eaeaea;
  display: flex;
  align-items: center;
  box-shadow: -1px 2px 8px rgba(68,68,68,0.3); 
}


.mainSearch {
  height: 40px;
  width: 90%;
  border: none;
  margin-left: 15px;
  font-size: 16px;
  
}

input:focus {
  outline: none;
}

.buttonGroup {
  text-align: center;
  margin-top: 30px;
}

.buttonGroup > button {
  line-height: 28px;
  border: none;
  font-weight: bold;
  padding: 0 12px;
  height: 36px;
  background-color: #f2f2f2;
  color: #757575;
  font-size: 13px;
  margin-bottom: 20px;
  border: solid 1px white;
}

.buttonGroup > button:hover {
  color: black;
  border: solid 1px #c6c6c6
}

.footer,
.push {
  height: 45px; /* more sticky footer magic */
  line-height: 40px;
}

.footer {
  background-color: #f2f2f2;
  min-width: 1000px;
  border-top: thin solid #d2d2d2;
}

ul>li {
  display: inline;  
}


footer > ul > li > a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  margin-left: 15px;
}

footer > ul {
  padding-left: 20px;
  margin: 0;
}



.fLeft {
  float: left;

}
.fRight {
  float: right;
  margin-right: 50px;
}